@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  background-color: #17314e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f4c42f;
  width: 300px;
}

h1 {
  margin-top: -50px;
  margin-bottom: 50px;
  font-weight: bold;
  color: white;
  font-size: 2em;
}

input[type="text"]::placeholder {
  font-weight: 500;
  color: #f4c42f;
}

.todo-parent {
}

.todo {
  margin-top: 50px;
  padding-top: 30px;
  background-color: #151515;
  width: 500px;
  height: 400px;
  border-radius: 25px;
  box-shadow: 2px 2px 10px whitesmoke;
  overflow-y: scroll;
}
